.avatarProfile {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    font-family: IBM Plex Sans;
    text-align: right;
}

.avatarProfile p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-right: 1.25rem;
    font-weight: 600;
}

.avatarProfile span {
    display: block;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.avatarProfile p span:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}

.avatarProfile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.156rem solid #F1972C;
}